.my_btn {
    right: 2px;
    margin-top: 20px;
    margin-left: 140px;
    width: 60%;
    height: 60%;
}


.main_area {
    margin-top: 70px;
    text-align: center;
    font-size: 18px;
    padding: 36px;
}

table {
    border-collapse: separate;
}

td {
    padding: 10px 0;
}

.my_form {
    text-align: center;
}

select {
    height: 40px;
}
